{# app/Resources/views/default/new.html.twig #}
{{ form_start(form) }}
{{ form_widget(form) }}
{% if picture is defined %}
  <table>
      <tr>
          <td>{{ picture.picturename }}</td>
          <td>{{ picture.picturepath }}</td>
          {{picture_data}}
      </tr>
  </table>

{% endif %}
{{ form_end(form) }}

