{{ "I like Twig.\nYou will like it too.\n"|nl2br }}
{{ "I like Twig even more.<br>You will like it too even more.<br>" }}
<table>
<tr>
    <td>{{ "pictures.picturename:" }} </td>
    <td>{{ pictures.picturename }} </td>
</tr>
<tr>
    <td>{{ "pictures.picturepath:" }} </td>
    <td>{{ pictures.picturepath }} </td>

</tr>
</table>
